<div class="container-fluid">
  <div class="child row">
    <div class="left-col col-sm-3">
      <p class="image-profile" ><%= profile_img_thumb(@user) if profile_img_thumb(@user) %></p>
      <p class="text-profile" ><%= @user.name %></p>
    </div>
    <div class="col-sm-6">
      <div class="panel">
        <div class="panel-body panel-topic-new">
          <div class="image-profile" >
            <%= profile_img_thumb(@user) if profile_img_thumb(@user) %>
          </div>
          <p class="text-profile">今なにしてる？</p>
        </div>
        <div class="panel-footer">
          <div >
            <%= link_to '　投稿する　', new_user_topic_path( @user ), remote: true, class: "btn btn-blue btn-xs pull-right" %>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      <div class="topics-body">
        <%= render partial: 'topics/index', locals: {topics: @user.topics.order(updated_at: :desc)} %>
      </div>
      <div id="topic-modal" class="modal" tabindex="-1" role="dialog" aria-hidden="true">
      </div>
    </div>
    <div class="col-sm-3">
    </div>
  </div>
</div>
