<%= form_for( [conversation, message], remote: true ) do |f| %>
  <% if message.errors.any? %>
    <% message.errors.full_messages.each do |m| %>
      <%= m.html_safe %>
    <% end %>
  <% end %>
  <%= f.error_messages! %>
  <div class="field">
    <%= f.text_field :body, placeholder: "メッセージ", class: "form-control" %>
  </div>
  <%= f.text_field :user_id, value: current_user.id, type: "hidden" %>
  <div class="actions">
  </div>
<% end %>
