<div id="message_<%= message.id %>" class="messages-item">
  <div id="message_read_<%= message.id %>" class="message-read">
    <%= render partial: 'messages/messageread', locals: { message: message, read_user: read_user, readonly: readonly } %>
  </div>
  <p class="message-sender"><%= message.user.name %></p>
  <p class="created-at"><%= message.message_time %></p>
  <div class="clearfix"></div>
  <div class="message-body">
    <% if read_user.id != message.user.id %>
      <p class="recieve-message"><%= message.body %></p>
    <% else %>
      <p><%= message.body %></p>
    <% end %>
    <div class="clearfix"></div>
  </div>
</div>
