<% comments.each do |comment| %>
  <% unless comment.id.nil? %>
    <div class="image-profile" >
      <%= render partial: 'profileimage', locals: { user: @topic.user } %>
    </div>
    <p class="comment-author"><%= comment.user.name %></p>
    <div id = "<%= comment.id %>">
      <p class="comment-content"><%= comment.content %></p>
      <div class="clearfix"></div>
      <div class="comment-edit">
        <%= comment.created_at.strftime("%-m月%-d日 %-H:%-M") %>
        <%= link_to_if(current_user.id == comment.user.id, '', edit_topic_comment_path(topic, comment), class: "fa fa-pencil-square-o fa-sm", remote: true) %>
        <%= link_to_if(current_user.id == comment.user.id, '', topic_comment_path(topic, comment), class: "fa fa-trash-o fa-sm", method: :delete, remote: true, data: { confirm: '本当に削除していいですか？' }) %>
      </div>
    </div>
  <% end %>
<% end %>
