<%= form_for(@topic) do |f| %>
  <% if @topic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@topic.errors.count, "error") %> prohibited this topic from being saved:</h2>

      <ul>
        <% @topic.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :submited%>

  <% if @topic.submited == "1" %>
    <div class="field">
      <%= f.label :title %><br>
      <%= f.text_field :title %>
      <%= f.hidden_field :title %>
    </div>
    <div class="field">
      <%= f.label :content %><br>
      <%= f.text_field :content %>
      <%= f.hidden_field :content %>
    </div>
    <div class="actions">
      <%= f.button "戻る", name: "#{f.object_name}[confirmed]", value: "" %>
      <%= f.button "作成", name: "#{f.object_name}[confirmed]", value: "1" %>
    </div>
  <% else %>
    <div class="field">
      <%= f.label :title %><br>
      <%= f.text_field :title %>
    </div>
    <div class="field">
      <%= f.label :content %><br>
      <%= f.text_field :content %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
<% end %>
