<% @topics.each do |topic| %>
  <tr>
    <% if topic.user.id != current_user.id %>
      <td><%= topic.user.name %></td>
    <% end %>
    <td>
      <%= link_to user_topic_path(@user, topic) do %>
        <%= topic.title %>
      <% end %>
    </td>
    <td><%= topic.content %></td>
    <td><%= link_to '編集', edit_user_topic_path(@user, topic), remote: true %></td>
    <td><%= link_to '削除', user_topic_path( @user, topic ), method: :delete, data: { confirm: '本当に削除していいですか？' } %></td>
  </tr>
<% end %>
