<p id="notice"><%= notice %></p>
<div class="child row">
  <div class="left-col col-lg-3">
    <p class="image-profile" ><%= profile_img(@user) if profile_img(@user) %></p>
    <p class="text-profile" ><%= @user.name %></p>
  </div>
  <div class="col-lg-6">
    <div class="panel">
      <div class="panel-body panel-topic-new">
        <div class="image-profile" >
          <%= profile_img(@user) if profile_img(@user) %>
        </div>
        <p class="text-profile">今なにしてる？</p>
      </div>
      <div class="panel-footer">
        <div >
          <%= link_to '　投稿する　', new_user_topic_path(@user), remote: true, class: "btn btn-blue btn-xs pull-right" %>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
    <div class="topics-body">
      <%= render "index" %>
    </div>
    <div id="topic-modal" class="modal" tabindex="-1" role="dialog" aria-hidden="true">
    </div>
  </div>
  <div class="col-lg-3">
  </div>
</div>
