<div>
  <h2>ユーザー</h2>
  <% @users.each do |user| %>
    <% if user.id != current_user.id %>
      <div>
        <%= link_to user_path(user) do %>
          <% unless user.following?(current_user) %>
            <div style="max-width:80px" %>
              <%= render partial: 'fukumen', locals: { user_id: user.id } %>
            </div>
          <% else %>
            <div style="max-width:50px;" %>
              <%= profile_img(user) %>
            </div>
          <% end %>
        <% end %>
        <%= user.email %>
        <% if user.id != current_user.id %>
          <div class="item">
            <%= user.name %>
            <%= link_to conversations_path(sender_id: current_user.id, recipient_id: user.id), method: 'post' do %>
              メッセージ
            <% end %>
          </div>
          <%= render 'follow_form', user: user %>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
