<div>
  <h2>ユーザー</h2>
  <% @users.each do |user| %>
    <% if user.id != current_user.id %>
      <div>
        <%= link_to user_path(user) do %>
          <% unless user.following?(current_user) %>
            <div style="max-width:50px;position:relative" %>
              <%= image_tag "base#{(user.id%6)+1}.png" %>
              <p style="position:absolute;left:0px;top:0px" %>
                <%= image_tag "eye#{((user.id/1)%3)+1}.png" %>
              </p>
              <p style="position:absolute;left:0px;top:0px" %>
                <%= image_tag "nose#{((user.id/9)%3)+1}.png" %>
              </p>
              <p style="position:absolute;left:0px;top:0px" %>
                <%= image_tag "mouth#{((user.id/3)%3)+1}.png" %>
              </p>
            </div>
          <% else %>
            <div style="max-width:50px;" %>
              <%= profile_img(user) %>
            </div>
          <% end %>
        <% end %>
        <%= user.email %>
        <% if user.id != current_user.id %>
          <div class="item">
            <%= user.name %>
            <%= link_to conversations_path(sender_id: current_user.id, recipient_id: user.id), method: 'post' do %>
              メッセージ
            <% end %>
          </div>
          <%= render 'follow_form', user: user %>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
