<div class="container">
  <% if notice != nil || alert != nil %>
    <div class="alert alert-warning alert-dismissable">
      <button class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= notice %><%= alert %>
    </div>
  <% end %>
  <div class="row">
    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
      <div class="login-form">
        <h4><b>Fukumen</b>にログイン</h4>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <%= f.error_messages! %>
          <div class="field" style="margin-top:20px">
            <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "メールアドレス" %>
          </div>
          <div class="field" style="margin-top:10px">
            <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "パスワード" %>
          </div>
          <div class="actions" style="margin-top:10px">
            <%= f.submit "ログイン", class: "btn btn-blue btn-block" %>
          </div>
        <% end %>
        <br>
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
