<% if user.id==current_user.id || (user.attributes["follower"]==nil && user.following?(current_user)) || user.attributes["follower"]  %>
  <%= profile_img(user) if profile_img(user) %>
<% else %>
  <div style="position: relative;">
    <% uid = user.id %>
    <%= image_tag "base#{(uid%6)+1}.png", style: "position: absolute; left: 0px; top: 0px;" %>
    <% uid /= 6 %>
    <%= image_tag "eye#{(uid%3)+1}.png", style: "position: absolute; left: 0px; top: 0px;" %>
    <% uid /= 3 %>
    <%= image_tag "nose#{(uid%3)+1}.png", style: "position: absolute; left: 0px; top: 0px;" %>
    <% uid /= 3 %>
    <%= image_tag "mouth#{(uid%3)+1}.png", style: "position: absolute; left: 0px; top: 0px;" %>
</div>
<% end %>
