<% if user.id==current_user.id || (user.attributes["follower"]==nil && user.following?(current_user)) || user.attributes["follower"]  %>
  <div class="sugao"><%= profile_img_thumb(user) if profile_img_thumb(user) %></div>
<% else %>
  <div class="fukumen" style="position: relative;">
    <% uid = user.id %>
    <%= image_tag "s_base#{(uid%6)+1}.png", style: "position: absolute; left: 0px; top: 0px;" %>
    <% uid /= 6 %>
    <%= image_tag "s_eye#{(uid%3)+1}.png", style: "position: absolute; left: 0px; top: 0px;" %>
    <% uid /= 3 %>
    <%= image_tag "s_nose#{(uid%3)+1}.png", style: "position: absolute; left: 0px; top: 0px;" %>
    <% uid /= 3 %>
    <%= image_tag "s_mouth#{(uid%3)+1}.png", style: "position: absolute; left: 0px; top: 0px;" %>
</div>
<% end %>
