<!DOCTYPE html>
<html>

  <head>
    <script src="https://js.pusher.com/3.2/pusher.min.js"></script>
    <title>Fukumen</title>
    <%= favicon_link_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
    <%= csrf_meta_tags %>
    <% if user_signed_in? %>
      <script>
        var pusher = new Pusher('<%= ENV["PUSHER_KEY"] %>',{
          encrypted: true
        });

        var channel = pusher.subscribe("user_<%= current_user.id %>_channel");
        channel.bind('comment_created', function(data) {
          alert(data.message);
        });
        channel.bind('notification_created', function(data) {
          $('#unread_count').html(data.unread_counts);
        });
      </script>
    <% end %>
  </head>

  <body style="padding-top: 70px;">
    <% if user_signed_in? %>
      <%= render 'headerlogin' %>
    <% else %>
      <%= render 'headerlogout' %>
    <% end %>
    <%= render '/layouts/notice' %>
    <%= yield %>
    <div id="page-top-btn" class="page-top-btn">
      <p><a class="move-page-top" id="move-page-top">▲</a></p>
    </div>
  </body>

</html>
